[color]
	ui = true
[merge]
	log = true
	tool = meld
#	ff = only
[user]
	name = Martin Pöhlmann
	email = mpdeimos@users.noreply.github.com
[core]
	autocrlf = input
	editor = nano
[push]
	default = simple
[alias]
	st = status -sb
	tree = log --graph --oneline --decorate
	trace = log --follow --oneline --name-only -- 
	find = log --all -- 
[credential]
	helper = cache --timeout=36000
