[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=ConQAT
Comment=ConQAT Eclipse IDE
Type=Application
Exec=/home/mpdeimos/.bin/conqat/eclipse
Icon=/home/mpdeimos/.bin/conqat.svg
