[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Citrix Receiver Engine (Intercepted)
StartupWMClass=Wfica
NoDisplay=false
Categories=Application;Network;X-Red-Hat-Base;X-SuSE-Core-Internet;
MimeType=application/x-ica;
Icon=/opt/Citrix/ICAClient/icons/manager.png
TryExec=/home/mpdeimos/.bin/wfica.sh
Exec=/home/mpdeimos/.bin/wfica.sh %U
